[submodule "Core/Event-Assembler"]
	path = Core/Event-Assembler
	url = https://github.com/laqieer/Event-Assembler.git
[submodule "EventAssembler/EAStandardLibrary"]
	path = Library/EAStandardLibrary
	url = https://github.com/StanHash/EAStandardLibrary.git
[submodule "Core/ColorzCore"]
	path = Core/ColorzCore
	url = https://github.com/FireEmblemUniverse/ColorzCore.git
